{% extends "base.html" %}
{% load static %}
{% block title %}
     Index | Page 
{% endblock title %}
   
{% block body %}
  <div class="container">
    <div class="row">
      
      {% for prod in all_prod %}
      <div class="col-lg-4">
        <div class="card" >
          <img src="{{prod.image}}"   >
          <div class="card-body">
            <h5 class="card-title">{{prod.name}}</h5>
            <form method="POST" action="{% url 'add_to_cart' %}">
              {% csrf_token %}
              <div class="radio-toolbar ">
                {% for i in prod.products_name.all %}
                <input  type="radio" name="var" onclick="myFunction({{i.price}},{{prod.id}})" required  value="{{i.id}}"  id="{{i.weight}}{{prod}}">
                <label class="mt-1" for="{{i.weight}}{{prod}}">{{i.weight}} - {{i.tag}} </label>
                {% endfor %}
              </div>

              <div style="margin: 10px;">
                <h2 style="padding: 10px; display: none;" id="price_block{{prod.id}}"></h2>
              </div>
              
              
              <div class="row">
                <div class="col-sm-12 col-lg-6">
                  <select class="form-select" name="quantity" required id="prod_quantity{{prod.id}}">
                    <option value="" selected="true" disabled >Quantity</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>
                  
                </div>
                <div class="col-sm-12 col-lg-6">
                  <div class="d-grid gap-2">
                    <button class="btn btn-primary"  type="submit">Add to cart</button>
                  </div>
                </div>
              </div>
              
            </form>
            
          </div>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
{% endblock body %}
   
